/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Colors
brown: #66594b
teal: #aae4e5
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

body {
  font-family: 'Quicksand', sans-serif;
}

.btn {
  color: #fff;
  background-color: #66594b;
  font-size: 20px;
  padding: 10px 20px;
  min-width: 120px;
  border: none;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}

.btn:hover {
  background-color: #53493f;
  color: #fff;
}

a:hover, a:focus {
  text-decoration: none;
}

#map {
  height: 100%;
  width: 100%;
}
.item-options {
  float: left;
  margin-top: 20px;
}
.item-img-select, .item-submit {
  display: inline-block;
}
#item-thumb {
  height: 100px;
  width: 100px;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
DESKTOP LANDING HEADER
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.desktop-landing {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  /*
  background-image: url('../../images/landing-background.jpg');
  background-repeat: no-repeat;
  */
}
.info-section {
  width: 100%;
  height: 1000px;
  background-image: url('../../images/landing-background.jpg');
  background-repeat: no-repeat;
  margin-top: 50px;
  text-align: center;
}
.info-section > h1 {
  color: white;
  font-size: 60px;
  padding: 70px;
  font-weight: bolder;
  letter-spacing: 3px;
}
#white {
  color: white!important;
  width: 30%!important;
  border: 4px solid rgba(0, 153, 204, 0.5)!important;
  border-radius: 5px!important;
  font-size: 30px!important;
  letter-spacing: 3px;
  background: linear-gradient(rgba(0, 153, 204, 0.5), rgba(155, 89, 182, 0.5));
  font-weight: bolder;
  box-shadow: 0px 0px 10px white;
}
.desktop-landing-header {
  width: 100%;
  height: 60px;
}
.desktop-landing-header-options {
  height: 100%;
  width: 200px;
  float: right;
  text-align: center;
}
.desktop-landing-header-options > a {
  display: inline-block;
  color: rgb(155, 89, 182);
  padding-top: 5px;
  letter-spacing: 1px;
}
.desktop-landing-header-options > a:hover {
  text-decoration: none;
}
.desktop-landing-brand {
  width: 100%;
  text-align: center;
}
.desktop-landing-brand > h1 {
  color: white;
  font-size: 60px;
}
.get-started-btn {
  background-color: transparent;
  font-size: 20px;
  padding: 15px;
  border: 2px solid rgb(155, 89, 182);
  border-radius: 3px;
  color: rgb(155, 89, 182);
}
.landing-logo {
  width: 25%;
  height: 200px;
  margin: auto;
  background-image: url('../../images/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 END DESKTOP LANDING HEADER
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 MOBILE HEADER
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 END MOBILE HEADER
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/




/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
SIDE NAV
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.navbar {
  margin-bottom: 0px!important;
}
.side-nav {
  position: fixed;
  height: 100%;
  width: 20%;
  background: #66594b;
}
.side-nav-profile-con {
  text-align: left;
  padding: 45px 0 0 45px;
}
.side-nav-user-pic {
  height: 60px;
  width: 60px;
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 0;
  margin-bottom: 20px;  
}
.side-nav-user-name {
  color: white;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
END SIDE NAV
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/





/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
MOBILE FOOTER
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#mobile-footer {
  display: none;
  height: 30px;
}
.mobile-footer-grid {
  width: 33.33%;
  height: 100%;
  float: left;
  text-align: center;
  border: 1px solid black;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
END MOBILE FOOTER
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
PROFILE
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.user-profile-con {
  height: 100%;
  width: 100%;
}
.user-info-con {
  margin: auto;
  width: 320px;
  text-align: center;
}
.user-profile-pic {
  height: 100px;
  width: 100px;
  border: 1px solid #66594b;
  border-radius: 8px;
  margin-top: 15px;
}
.user-info-con > h4 {
  font-weight: bold;
}

.user-info-con > div {
  cursor: pointer;
}

.change-info-con .form-control {
  margin-bottom: 30px;
}

.change-info-con {
  margin: 40px auto 100px;
  max-width: 450px;
}

.change-info-con h5 {
  font-weight: bold;
  font-size: 20px;
}

.user-goal-con {
  margin: auto;
  width: 60%;
  height: 100%;
}
.goal-input {
  width: 100%;
  height: 100px;
  padding: 5px;
}
.userGoals {
  margin: auto;
  width: 60%;
  height: inherit;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 8px;
  box-shadow: 0px 0px 5px gray;
  margin-bottom: 5px;
}
.goal-form {
  margin-bottom: 100px;
}
.goal-poster, .goal-content, .goal-rating {
  display: inline-block;
  height: 100%;
  float: left;
}
.goal-poster, .goal-rating {
  width: 15%;
  text-align: center;
}
.goal-content {
  width: 70%;
}
.goal-poster-pic {
  height: 60px;
  width: 60px;
  border: 1px solid #6666ff;
  border-radius: 8px;
}
.goals-wrapper {
  padding-bottom: 50px;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
END PROFILE
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\


  rgb(153, 255, 255)
  rgb(128, 115, 77)
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 CUSTOM FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.modal-body {
  background-color: transparent;
  padding: 0;
}
#signup-modal, .modal {
  padding-left: 0px!important;
  top: 50px!important;
}
.modal-content {  
  background: #fff;
  z-index: -2;
}
.modal-dialog {
  width: 60%!important;
}
#first-next {
/*  width: 100%!important;
  margin-left: 0px!important;
  margin-right: 0px!important;*/
}
.confirmation-info {
  text-align: left;
}
.confirmation-con {
  padding-left: 40px;
  padding-top: 25px;
  padding-bottom: 35px;
}
#or {
  margin: 20px;
}
.fieldset-wrap {
  width: 60%;
  height: 300px;
  margin: auto;
  text-align: center;
  position: relative;
}
#msform {
  margin: 50px auto;
  text-align: center;
  position: relative;
}
.fieldset-header {
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 0px;
  padding: 0px;
}
#msform fieldset {
  border: 0 none;
  border-radius: 3px;
  /*
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  */
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  /*stacking fieldsets above each other*/
  position: absolute;
}
#form-dream {
  height: 150px;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}
.form-items-con {
  width: 100%;
  text-align: center;
}
.centered-select-wrap {
  width: 50%;
  margin: auto;
}
.centered-select {
  height: 50px;
  width: 80%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 15px;
  margin: auto;
  margin: 40px;
}
.input-grid-wrap {
  display: inline-block;
  float: left;
  width: 50%;
  height: 100px;
}

.form-input {
  width: 100%;
  padding: 15px;
  border: 2px solid #66594b;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 20px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: transparent;
}
::-webkit-input-placeholder { /* Chrome */
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  opacity: 1;
}
.form-select {
  height: 50px;
  width: 80%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 15px;
  margin: auto;
  margin: 40px;
}
#select-default {
  display: none;
}

.btn-con {
  margin-top: 50px;
}

/*buttons*/

#msform .action-button {
  background: #66594b;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 10px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}




/*headings*/

.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}


/*progressbar*/

#progressbar {
  /*CSS counters to number the steps*/
  counter-reset: step;
}
.prog-wrap {
  padding-bottom: 50px;
  margin-bottom: 110px;
  margin-right: 40px;
}

#progressbar li {
  list-style-type: none;
/*  color: white;*/
  text-transform: uppercase;
  width: 14.285%;
  float: left;
  position: relative;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  display: block;
  margin: 0 auto 5px auto;
  padding: 5px;
  margin-top: -6px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  line-height: 39px;
  background: #fff;
  color: #d2d2d2;
  border: 1px solid #d2d2d2;  
}


/*progressbar connectors*/

#progressbar li:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #d2d2d2;
  position: absolute;
  left: -50%;
  top: 19px;
  z-index: -1;
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
  background: #66594b;
  color: white;
  border-color: #66594b;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 END CUSTOM FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/




















.prog-txt {
  margin: 0px;
  padding: 0px;
  margin-top: 15px;
  text-transform: none;  
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 ROUTE WINDOW
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.route-window {
  margin-left: 20%;
  background-color: #fcfcfc;
  padding-top: 50px;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
 END ROUTE WINDOW
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
MEDIA QUERIES
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media only screen and (max-width: 425px) {
  .side-nav {
    display: none!important;
  }
  #mobile-footer {
    display: block!important;
  }
  .route-window {
    margin: 0px!important;
  }
  .prog-wrap {
    display: none;
  }
  .modal-dialog {
    margin: auto!important;
    width: 100%!important;
  }
  .modal-content {
    border-radius: 0px;
  }
  .fieldset-wrap {
    width: 95%;
  }

}
@media only screen and (max-width: 768px) {
  .fieldset-wrap {
    width: 95%;
  }
}
@media only screen and (max-width: 1024px) {
  .prog-txt{
    display: none;
  }
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
END MEDIA QUERIES
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
STEVIE'S STYLES

brown: #66594b
teal: #aae4e5

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/











