body {
	font-family: 'Quicksand', sans-serif;
}
#login-container {
	margin-top: 10px;
}
#submit {
	width: 100%;
	border-color: #ff5050;
	color: #ff5050;
}
#top-form {
	margin-bottom: 50px;
}
.brand {
	color: #ff5050;
}
.icon-con {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
.modal-title {
	text-align: center;
	color: #ff5050;
}
#signupBtn {
	text-align: center;
	background-color: white;
	border: 1px solid #ff5050;
	color: #ff5050;
	width: 100%;
}
.signup-con {
	width: 100%;
	text-align: center;
}
.dont-have {
	color: black;
}