<div class="user-profile-con">
	<div class="user-info-con">
		<img class="user-profile-pic" ng-src="{{user.image}}">
		<a href="#editProfile"><h6>Edit profile</h6></a>
		<h4>{{user.firstName}} {{user.lastName}}</h4>
		<h5>{{user.city}}, {{user.state}}</h5>
		<h5>{{user.dream}}</h5>
	</div>
	<div class="user-goal-con">
		<form method="post" class="goal-form">
			<textarea ng-model="goal.content" class="goal-input" placeholder="Write your goal here..." name="content"></textarea>
			<div class="item-options">
			<button class=" btn btn-default btn-lg item-img-select" ngf-select ng-model="goal.image" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="2MB">
				<span class="glyphicon glyphicon-camera"></span>
			</button>
			<button class="btn btn-default btn-lg item-submit" type="submit" ng-click="postGoal(goal)">Submit</button>
			</div>
		</form>
		<div class="thumb-img">
			<img ngf-thumbnail="item.image" id="item-thumb"><br>
			<button ng-click="item.image = null" ng-show="item.image" class="btn btn-danger" id="img-thumb-remove">Remove</button>
		</div>
	</div>
</div>
<div class="goals-wrapper">
<div class="userGoals clearfix" ng-repeat="goal in userGoalsArray | orderBy:'-timeStamp'">
	<div class="goal-poster">
		<img class="goal-poster-pic" ng-src="{{user.image}}">
		<h5>{{user.username}}</h5>
	</div>
	<div class="goal-content">{{goal.content}}</div>
	<div class="goal-rating">
		<button class="btn btn-default" ng-click="deleteGoal(goal._id)">Delete</button>
		<h5>Score: {{goal.rating}}</h5>
	</div>
</div>
</div>
